* {
   padding: 0;
   margin: 0;
   border: 0;
}

*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

:focus,
:active {
   outline: none;
}

a:focus,
a:active {
   outline: none;
}

nav,
footer,
header,
aside {
   display: block;
}

html,
body {
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
   font-family: inherit;
}

input::-ms-clear {
   display: none;
}

button {
   cursor: pointer;
}

button::-moz-focus-inner {
   padding: 0;
   border: 0;
}

a,
a:visited {
   text-decoration: none;
}

a:hover {
   text-decoration: none;
}

ul li {
   list-style: none;
}

img {
   vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: inherit;
}

/* ======================================================== */


body {
   margin: 0;
   padding: 0;
   background-color: rgb(160, 160, 160);
   overflow: hidden;
}

#canvas {
   background: #fff;
   position: relative;
   margin: 0% 50%;
   transform: translate(-50%);
   box-shadow: 0 0 10px #191919;
}

#score {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 40px;
   font-weight: 800;
   text-align: center;

}

#max-score {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 40px;
   font-weight: 800;
   text-align: center;
}

#coins {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 40px;
   font-weight: 800;
   text-align: center;
}

#shop-btn {
   position: absolute;
   width: 44px;
   height: 42px;
   background: #d1d1d1;
   left: 20%;
   top: 10%;
   border-radius: 10px;
   transition: .2s;
}

#shop-btn:hover {
   background: rgb(50, 50, 50);
}

#shop-btn:active {
   background: #191919;
}

#shopPanel {
   position: relative;
   background-color: #191919;
   width: 150vh;
   max-height: 80vh;
   margin: 40vh auto 0;
   border-radius: 10px;
   user-select: none;
}

#shopTitle {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 40px;
   font-weight: 800;
   text-align: center;
   color: #fff;
   user-select: none;
   margin-bottom: 10px;
}

#list {
   display: flex;
}

.listItem {
   flex: 33.333%;
   max-height: 420px;
   border-top: rgb(90, 90, 90) solid 1px;
   border-bottom: rgb(90, 90, 90) solid 1px;
}

.listItem:first-child {
   border-right: rgb(90, 90, 90) solid 1px;
}

.listItem:last-child {
   border-left: rgb(90, 90, 90) solid 1px;
}

.listItemTitle {
   font-family: Arial, Helvetica, sans-serif;
   padding-top: 10px;
   letter-spacing: 4px;
   font-size: 20px;
   font-weight: 600;
   text-align: center;
   color: #fff;
   user-select: none;
}

.ViewPanel {
   background: #fff;
   width: 300px;
   margin: 10px auto;
   height: 150px;
   border-radius: 10px;
   opacity: 0.3;
   transition: .2s;
   overflow: hidden;
}

.listBtn {
   width: 200px;
   height: 36px;
   margin: 10px 50% 20px;
   transform: translate(-50%);
   font-weight: 700;
   font-size: 20px;
   border-radius: 5px;
}

.listBtn:hover {
   opacity: 0.6;
}

.listBtn:active {
   opacity: 1;
}

.listPrice {
   font-family: Arial, Helvetica, sans-serif;
   padding: 10px 0;
   letter-spacing: 3px;
   font-size: 20px;
   font-weight: 600;
   text-align: center;
   color: #fff;
   user-select: none;
}

.space {
   height: 30vh;
}

#shopExitBtn {
   position: absolute;

   cursor: pointer;
   width: 2em;
   height: 2em;
   background-color: red;
   clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);

   left: 97%;
   top: 10px;
}

#shopExitBtn:hover {
   opacity: 0.6;
}

#shopExitBtn:active {
   opacity: 1;
}

.fa-4x {
   position: absolute;
   bottom: -9px;
}

.shopViewImg {
   width: 300px;
   height: 150px;
   opacity: 1;
   border-radius: 10px;
   transition: .7s;
}

.ViewPanel:hover {
   opacity: 1;
}

.shopViewImg:hover {
   scale: 1.2
}